<!DOCTYPE html>
<html>
<head>
  <title>IdeasFromEverywhere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' unless current_user.nil? %>
<div class="container">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>
	<br><br>
</div>
<div>
<%= render 'layouts/footer' unless current_user.nil? %>
</div>
</html>
